body {
background-color: #000000;
}
#container {
    background-image: url("assets/images/background.png");
    background-size: cover;
    width: 40vw;
    height: 70vh;
    position: relative;
    margin-left: 30vw;
    margin-top: 5vh;
    border: solid #000 4px;
    display: none;
}
#points-container {
    font-family: Arial;
    padding-left: 20px;
    font-size: 30px;
    color: #d3a02b;
}

#points {
    padding-left: 10px;

}

#flex {
    margin-top: -10vh;
    display: flex;
    justify-content: space-between;
}
#lives-container {
    display: flex;
    justify-content: center;
}

.lives {
    margin-right: 20px;
    margin-top: 5px;
}

#character {
    width: 4vw;
    height: 10vh;
    position: relative;
    left: 20vw;
    top: 51vh;
}

.foodItem {
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
    position: absolute;
    top: 0;
    left:0
}

#menu {
    position: relative;
    width: 40vw;
    height: 70vh;
    background-image: url("assets/images/menu-background.jpg");
    background-size: cover;
    margin-left: 30vw;
    margin-top: 5vh;
    border: solid #000 4px;
    text-align: center;

}

.menu-list {
    padding-top: 350px;
    font-size: 30px;
}

#play:hover {
    transform: scale(0.9);
}

#rank:hover {
    transform: scale(0.9);
}

#instructions:hover {
    transform: scale(0.9);
}


#banana {
    background-image: url('assets/data/img/banana.png');
}
#apple {
    background-image: url('assets/data/img/apple.png');
}
#avocado {
    background-image: url('assets/data/img/avocado.png');
}
#brocly {
    background-image: url('assets/data/img/brocly.png');
}
#carrot {
    background-image: url('assets/data/img/carrot.png');
}
#fish {
    background-image: url('assets/data/img/fish.png');
}
#burger {
    background-image: url('assets/data/img/burger.png');
}
#candy {
    background-image: url('assets/data/img/candy.png');
}
#donut {
    background-image: url('assets/data/img/donut.png');
}
#pizza {
    background-image: url('assets/data/img/pizza.png');
}

